IMPORT LIBARIES

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import plotly.express as px

IMPORTING DATASET

In [15]:
df = pd.read_csv(r'C:\Users\nicks\OneDrive\Documents\financial_loan.csv', encoding='latin1')

In [16]:
df.head()

,id,address_state,application_type,emp_length,emp_title,grade,home_ownership,issue_date,last_credit_pull_date,last_payment_date,...,sub_grade,term,verification_status,annual_income,dti,installment,int_rate,loan_amount,total_acc,total_payment
0,1077430,GA,INDIVIDUAL,< 1 year,Ryder,C,RENT,2/11/2021,9/13/2021,4/13/2021,...,C4,60 months,Source Verified,30000.0,0.0100,59.83,0.1527,2500,4,1009
1,1072053,CA,INDIVIDUAL,9 years,MKC Accounting,E,RENT,1/1/2021,12/14/2021,1/15/2021,...,E1,36 months,Source Verified,48000.0,0.0535,109.43,0.1864,3000,4,3939
2,1069243,CA,INDIVIDUAL,4 years,Chemat Technology Inc,C,RENT,1/5/2021,12/12/2021,1/9/2021,...,C5,36 months,Not Verified,50000.0,0.2088,421.65,0.1596,12000,11,3522
3,1041756,TX,INDIVIDUAL,< 1 year,barnes distribution,B,MORTGAGE,2/25/2021,12/12/2021,3/12/2021,...,B2,60 months,Source Verified,42000.0,0.0540,97.06,0.1065,4500,9,4911
4,1068350,IL,INDIVIDUAL,10+ years,J&J Steel Inc,A,MORTGAGE,1/1/2021,12/14/2021,1/15/2021,...,A1,36 months,Verified,83000.0,0.0231,106.53,0.0603,3500,28,3835

### metadata of data

In [17]:
print("No of rows: ", df.shape[0])

No of rows:  38576

In [18]:
print("No of columns: ", df.shape[1])

No of columns:  24

In [19]:
df.info

<bound method DataFrame.info of             id address_state application_type emp_length  \
0      1077430            GA       INDIVIDUAL   < 1 year
1      1072053            CA       INDIVIDUAL    9 years
2      1069243            CA       INDIVIDUAL    4 years
3      1041756            TX       INDIVIDUAL   < 1 year
4      1068350            IL       INDIVIDUAL  10+ years
...        ...           ...              ...        ...
38571   803452            NJ       INDIVIDUAL   < 1 year
38572   970377            NY       INDIVIDUAL    8 years
38573   875376            CA       INDIVIDUAL    5 years
38574   972997            NY       INDIVIDUAL    5 years
38575   682952            NY       INDIVIDUAL    4 years

                             emp_title grade home_ownership  issue_date  \
0                                Ryder     C           RENT   2/11/2021
1                       MKC Accounting     E           RENT    1/1/2021
2                Chemat Technology Inc     C           RENT    1/5/2021
3                  barnes distribution     B       MORTGAGE   2/25/2021
4                        J&J Steel Inc     A       MORTGAGE    1/1/2021
...                                ...   ...            ...         ...
38571         Joseph M Sanzari Company     C       MORTGAGE   7/11/2021
38572                        Swat Fame     C           RENT  10/11/2021
38573  Anaheim Regional Medical Center     D           RENT   9/11/2021
38574               Brooklyn Radiology     D           RENT  10/11/2021
38575                    Allen Edmonds     F           RENT   7/11/2021

      last_credit_pull_date last_payment_date  ... sub_grade        term  \
0                 9/13/2021         4/13/2021  ...        C4   60 months
1                12/14/2021         1/15/2021  ...        E1   36 months
2                12/12/2021          1/9/2021  ...        C5   36 months
3                12/12/2021         3/12/2021  ...        B2   60 months
4                12/14/2021         1/15/2021  ...        A1   36 months
...                     ...               ...  ...       ...         ...
38571             5/16/2021         5/16/2021  ...        C1   60 months
38572             4/16/2021         5/16/2021  ...        C1   60 months
38573             5/16/2021         5/16/2021  ...        D5   60 months
38574             5/16/2021         5/16/2021  ...        D5   60 months
38575             5/16/2021         5/16/2021  ...        F3   60 months

       verification_status annual_income     dti installment int_rate  \
0          Source Verified       30000.0  0.0100       59.83   0.1527
1          Source Verified       48000.0  0.0535      109.43   0.1864
2             Not Verified       50000.0  0.2088      421.65   0.1596
3          Source Verified       42000.0  0.0540       97.06   0.1065
4                 Verified       83000.0  0.0231      106.53   0.0603
...                    ...           ...     ...         ...      ...
38571             Verified      100000.0  0.1986      551.64   0.1299
38572             Verified       50000.0  0.0458      579.72   0.1349
38573             Verified       65000.0  0.1734      627.93   0.1749
38574             Verified      368000.0  0.0009      612.72   0.1825
38575             Verified       80000.0  0.0600      486.86   0.2099

       loan_amount  total_acc  total_payment
0             2500          4           1009
1             3000          4           3939
2            12000         11           3522
3             4500          9           4911
4             3500         28           3835
...            ...        ...            ...
38571        24250         33          31946
38572        25200         18          31870
38573        25000         20          35721
38574        24000          9          33677
38575        18000          7          27679

[38576 rows x 24 columns]>

In [20]:
df.dtypes

id                         int64
address_state             object
application_type          object
emp_length                object
emp_title                 object
grade                     object
home_ownership            object
issue_date                object
last_credit_pull_date     object
last_payment_date         object
loan_status               object
next_payment_date         object
member_id                  int64
purpose                   object
sub_grade                 object
term                      object
verification_status       object
annual_income            float64
dti                      float64
installment              float64
int_rate                 float64
loan_amount                int64
total_acc                  int64
total_payment              int64
dtype: object

In [30]:
# convert 'issue date' column to date data type
df['issue_date'] = pd.to_datetime(df['issue_date'])

In [31]:
df.dtypes

id                                int64
address_state                    object
application_type                 object
emp_length                       object
emp_title                        object
grade                            object
home_ownership                   object
issue_date               datetime64[ns]
last_credit_pull_date            object
last_payment_date                object
loan_status                      object
next_payment_date                object
member_id                         int64
purpose                          object
sub_grade                        object
term                             object
verification_status              object
annual_income                   float64
dti                             float64
installment                     float64
int_rate                        float64
loan_amount                       int64
total_acc                         int64
total_payment                     int64
dtype: object

In [21]:
df.describe()

,id,member_id,annual_income,dti,installment,int_rate,loan_amount,total_acc,total_payment
count,3.857600e+04,3.857600e+04,3.857600e+04,38576.000000,38576.000000,38576.000000,38576.000000,38576.000000,38576.000000
mean,6.810371e+05,8.476515e+05,6.964454e+04,0.133274,326.862965,0.120488,11296.066855,22.132544,12263.348533
std,2.113246e+05,2.668105e+05,6.429368e+04,0.066662,209.092000,0.037164,7460.746022,11.392282,9051.104777
min,5.473400e+04,7.069900e+04,4.000000e+03,0.000000,15.690000,0.054200,500.000000,2.000000,34.000000
25%,5.135170e+05,6.629788e+05,4.150000e+04,0.082100,168.450000,0.093200,5500.000000,14.000000,5633.000000
50%,6.627280e+05,8.473565e+05,6.000000e+04,0.134200,283.045000,0.118600,10000.000000,20.000000,10042.000000
75%,8.365060e+05,1.045652e+06,8.320050e+04,0.185900,434.442500,0.145900,15000.000000,29.000000,16658.000000
max,1.077501e+06,1.314167e+06,6.000000e+06,0.299900,1305.190000,0.245900,35000.000000,90.000000,58564.000000

### Total Loan Applications

In [32]:
total_loan_application = df['id'].count()
print("Total Loan Applications:", total_loan_application)

Total Loan Applications: 38576

### MTD Total Loan Applications

In [44]:
latest_issue_date = df['issue_date'].max()
latest_year = latest_issue_date.year
latest_month = latest_issue_date.month

mtd_data = df[(df['issue_date'].dt.year == latest_year) & (df['issue_date'].dt.month == latest_month)]

mtd_loan_applications = mtd_data['id'].count()

print(f"MTD Loan Applications(for {latest_issue_date.strftime('%B %Y')}):{mtd_loan_applications}")

MTD Loan Applications(for December 2021):4314

### Total Funded Amount

In [54]:
total_funded_amount = df['loan_amount'].sum()
total_funded_amount_millions = total_funded_amount / 1000000

# f"" (f-string): A modern, readable way to embed expressions inside string literals.
# ':' introduces a new format specifier
# .2f: Formats the number as a floating-point (f) with exactly two decimal places (.2).
# M: Appended literally to represent millions, as per your example.

print(f"Total Funded Amount: ${total_funded_amount_millions:.2f}M")

Total Funded Amount: $435.76M

### MTD - Total Funded Amount

In [52]:
latest_issue_date = df['issue_date'].max()
latest_year = latest_issue_date.year
latest_month = latest_issue_date.month

mtd_data = df[(df['issue_date'].dt.year == latest_year) & (df['issue_date'].dt.month == latest_month)]

# f"" (f-string): A modern, readable way to embed expressions inside string literals.
# ':' introduces a new format specifier
# .2f: Formats the number as a floating-point (f) with exactly two decimal places (.2).
# M: Appended literally to represent millions, as per your example.

print(f"MTD Total Funded Amount: ${mtd_total_funded_amount_millions:.2f}M")

MTD Total Funded Amount: $53.98M